* {
    background-color: bisque;
}

.div1 {
    margin: 20px;
    border: 9px solid brown;
    font-size: medium;
    border-radius: 10px ;
    text-align: center;
    padding: 3px;
}

.div2 {
    margin: 20px;
    border: 9px solid rgb(204, 83, 83);
    padding: 3px;
    border-radius: 10px;
    text-align: center;
}

.div3 {
    margin: 20px;
    border: 9px solid brown;
    padding: 3px;
    border-radius: 10px;
    text-align: center;
}